.sidenav {
  height: 30%; 
  width: 10%; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 50%;
  border: 1px solid green;
  overflow-x: hidden; 
  padding-top: 20px;

}

header, header h1{
    background-color: green;
    margin-top: 0;
}

header h1 {
    padding-bottom: 10px;
    text-align: center;
}
body {
    margin: 0;
}